:root {
    --background-color: rgb(230, 230, 230);
    --header-font-color: white;
    --title-background-color: #1d4d73;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

h1,
footer {
    background-color: var(--title-background-color);
    color: var(--header-font-color);
    width: 100%;
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin: 10px auto;
    background: black;
    animation: fadeout 2s;
}

@keyframes fadeout {
    100% {
        opacity: 1;
        filter: brightness(1);
    }

    0% {
        opacity: 0;
        filter: brightness(0);
    }
}