:root {
    --background-color: white;
    --border-color: rgb(214, 214, 214);
    --feature-header-cell: #333333;
    --header-font-color: white;
    --caption-font-color: #212121;
    --zebra: hsl(0, 0%, 93%, 1);
}

table {
    width: 50%;
    max-width: 400px;
    margin: 10px auto;
    background-color: var(--background-color);
    box-shadow: none;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 7px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

thead {
    background-color: black;
}

.header-title {
    color: var(--header-font-color);
    padding: 8px;
}

.no-feature-header-cell {
    width: 50px;
}

.feature-header-cell {
    background-color: var(--feature-header-cell);
    color: var(--header-font-color);
    padding: 8px;
    text-align: center;
    width: 80px;
}

tbody {
    font-size: 0.8em;
    border: thin solid var(--border-color);
}

tbody tr {
    height: 30px;
}

tbody tr td {
    width: 30px;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--zebra);
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--caption-font-color);
    font-size: .85rem;
}