:root {
    --header-footer-background-color: #333333;
    --nav-background-color: #000000;
    --main-background-color: #cccccc;
    --aside-background-color: #ffffff;
    --header-footer-text-color: #f5f5f5;
    --nav-text-color: #f8f8f8;
    --main-text-color: #464646;
    --aside-text-color: #0c0c0c;
    --header-height: 7.15em;
    --nav-height: 2.3em;
    --main-aside-height: 13.2em;
    --footer-height: 8.2em;
    --nav-font: Arial;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template: auto / 4fr 1fr / auto;
}

p {
    margin: 15px;
}

header,
footer {
    background-color: var(--header-footer-background-color);
    color: var(--header-footer-text-color);
    grid-column: 1/6;
}

header {
    height: var(--header-height);
    /* consider using a grid layout in header - main text is one section and nav is another - auto then 1 fr */
}

.header_content {
    height: calc(var(--header-height) - 3.3em);
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: var(--nav-height);
}

nav a {
    font-weight: 100;
    font-size: 0.75em;
    text-align: center;
    color: var(--nav-text-color);
    text-decoration: none;
    font-family: var(--nav-font), sans-serif;
}

main {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    grid-column: 1/5;
    height: var(--main-aside-height);
}

aside {
    background-color: var(--aside-background-color);
    color: var(--aside-text-color);
    grid-column: 5/6;
    height: var(--main-aside-height);
}

footer {
    height: var(--footer-height);
}

footer p {
    width: 100%;
    margin: 15px auto;
    text-align: center;
}