:root {
    --header-footer-background-color: #1d4d73;
    --header-font: Arial;
    --header-font-size: 1.5em;
    --nav-background-color: #000000;
    --main-and-card-background-color: #ffffff;
    --header-footer-nav-text-color: #fff;
    --main-aside-text-color: #000;
    --hr-color: #a3a3a3;
    --header-height: 7.15em;
    --nav-height: 3em;
    --main-height: 31em;
    --main-max-width: 120em;
    --footer-height: 8.2em;
    --nav-font: Arial;
    --card-height: 28em;
    --card-header-height: 3em;
    --about-me-div-height: 8em;
    --country-info-div-height: 10em;
    --highlight-text-color: #f3f437;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-rows: var(--header-height) var(--main-height) var(--footer-height);
}

p {
    margin: 15px;
}

header,
footer {
    background-color: var(--header-footer-background-color);
    color: var(--header-footer-nav-text-color);
    grid-column: 1/6;

}

.header_content {
    height: calc(var(--header-height) - 4.3em);
}

.header_content h1 {
    width: 100%;
    text-align: center;
    margin: 1em auto;
    font-family: var(--header-font), sans-serif;
    font-size: var(--header-font-size);
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: var(--nav-height);
}

nav a {
    font-weight: 100;
    font-size: 0.75em;
    text-align: center;
    color: var(--header-footer-nav-text-color);
    text-decoration: none;
    font-family: var(--nav-font), sans-serif;
    padding: 1rem;
}

nav a:hover {
    text-decoration: overline;
}

main {
    position: relative;
    background-color: var(--main-and-card-background-color);
    color: var(--main-aside-text-color);
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 4fr 2fr;
    max-width: var(--main-max-width);
    margin: auto;
}

.card {
    background-color: var(--main-and-card-background-color);
    border: 1px solid var(--nav-background-color);
    border-radius: 15px;
    margin: 20px;
    height: var(--card-height);
}

.cardHeaderDiv {
    color: var(--header-footer-nav-text-color);
    background-color: var(--header-footer-background-color);
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 15px 15px 0 0;
}

.card h2 {
    color: var(--header-footer-nav-text-color);
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.aboutMeCard {
    padding: 0px;
    display: grid;
    grid-template-rows: var(--card-header-height) var(--about-me-div-height);
}

.aboutMeDiv {
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.aboutMeDiv img {
    border: 1px solid var(--nav-background-color);
}

.countryInfoDiv {
    padding: 10px;
}

.countryHeader {
    width: 100%;
    text-align: center;
    margin: 25px 0 0px;
    font-family: var(--header-font), sans-serif;
}

.countryInfoDiv hr {
    color: var(--hr-color);
    width: 80%;
    margin: 0 10% 20px 10%;
}

.countryInfoDiv p {
    padding: 0px;
    margin: 0 15px 0 15px;
    text-align: justify;
}

.aboutMauritius {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.aboutMauritius .flagInfo {
    padding: 0;
    margin: 20px 10px 0px 10px;
}

.flagInfo p {
    margin: 10px;
    font-size: .7em;
    font-weight: 300;
    font-style: italic;
}

.devResourcesDiv {
    height: calc(var(--card-height) - var(--card-header-height));
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

.card ul a {
    text-decoration: none;
}

footer p {
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.highlight {
    color: var(--highlight-text-color);
}