:root {
    --body-font: Domine;
    --dark-blue-emphasis-color: #0D2149;
    --header-footer-background-color: #1d4d73;
    --hr-color: #a3a3a3;
    --header-footer-nav-text-color: #fff;
    --header-font: Roboto;
    --header-font-size: 1.5em;
    --box-shadow-color: #000000;
    --main-and-card-background-color: #ffffff;
    --legend-text-color: #000;
    --required-red: #9c2c13;
    --main-max-width: 400px;
    --main-min-width: 250px;
    --footer-height: 8.2em;
    --figure-height: 200px;
    --figure-width: 250px;
    --highlight-text-color: #f3f437;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: var(--body-font), serif;
    font-weight: 300;
    min-width: var(--main-min-width);
    color: var(--dark-body-blue-text-color);

}

footer,
header {
    background-color: var(--header-footer-background-color);
    color: var(--header-footer-nav-text-color);
    font-family: var(--header-font), sans-serif;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    width: 100%;
    padding: 5px;
}

.highlight {
    color: var(--highlight-text-color);
}

main {
    padding: 20px;
    max-width: var(--main-max-width);
    margin: 15px auto;
}

.italic-text {
    font-style: italic;
}

.required-asterisk {
    color: var(--required-red);
}

/*----------- FORM STYLING --------------*/

.product-review-form fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.product-review-form legend {
    color: var(--legend-text-color);
    padding: 0 .5rem;
    font-family: var(--header-font), serif;
}

.product-review-form label {
    display: block;
    padding-top: 1.5rem;
    color: var(--header-footer-background-color);
    font-size: .9rem;
    min-height: 44px;
}

.product-review-form div {
    padding: 1.5rem 0 0 0;
    color: var(--header-footer-background-color);
    font-size: 0.9em;
}

.product-review-form input[type="text"],
.product-review-form input[type="tel"],
.product-review-form input[type="email"],
.product-review-form input[type="url"],
.product-review-form input[type="date"],
.product-review-form select,
.product-review-form textarea,
.product-review-form input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin: 5px 0;
}

.product-review-form input[type="radio"],
.product-review-form input[type="checkbox"] {
    margin-right: 6px;
}

.product-review-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--dark-blue-emphasis-color), var(--header-footer-background-color));
    color: var(--header-footer-nav-text-color);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 426px;
    margin: 1.5rem auto;
    box-shadow: 1px 1px 4px var(--box-shadow-color);
}

/* .product-review-form input:required {
    border-right: solid 8px var(--dark-blue-emphasis-color);
} */

/* .product-review-form input:required input:valid {
    border-right: solid 8px green;
} */

@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.0rem;
    }

    body {
        min-width: 100%;
    }

    .product-review-form select,
    .product-review-form textarea,
    .product-review-form input {
        max-width: 96%;
        margin: 10px 2% 5px 2%;
    }

    footer p {
        font-size: .5em;
    }
}