:root {
    --body-font: Domine;
    --mur-flag-red: #ea2839;
    --mur-flag-blue: #1a206e;
    --mur-flag-yellow: #fed500;
    --mur-flag-green: #00a551;
    --header-footer-nav-text-color: #fff;
    --header-font: Roboto;
    --header-font-size: 1.5em;
    --nav-background-color: #000000;
    --main-background-color: #ffffff;
    --main-aside-text-color: #000;
    --hr-color: #a3a3a3;
    --header-height: 7.15em;
    --nav-height: 3em;
    --main-max-width: 800px;
    --main-min-width: 250px;
    --footer-height: 8.2em;
    --figure-height: 200px;
    --figure-width: 250px;
    --nav-font: Roboto;
    --highlight-text-color: #f3f437;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: var(--body-font), serif;
    font-weight: 300;
    line-height: 1.7em;
}

header h1,
footer {
    background-color: var(--mur-flag-red);
    font-family: var(--header-font), sans-serif;
    color: var(--header-footer-nav-text-color);
    padding: 15px;
    margin: 0px;
    border-bottom: 15px solid var(--mur-flag-green);
    text-align: center;
}

main {
    background-color: var(--main-background-color);
    width: 100%;
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

main .hero {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: auto;
}

main .hero picture img {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-bottom: 5px solid var(--mur-flag-red);
}

main section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px min-content;
    row-gap: 10px;
}

main section h2 {
    grid-column: span 2;
    width: 100%;
    text-align: center;
}

.label {
    font-weight: 700;
    text-align: right;
    margin: 0px;
    padding: 0px 10px 0px 0px;
}

.value {
    font-weight: 200;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

footer p {
    width: 100%;
    margin: 15px auto;
}