@media (min-width: 500px) {
    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }
}