:root {
    --body-font: Domine;
    --header-footer-background-color: #1d4d73;
    --header-footer-nav-text-color: #fff;
    --active-nav-color: yellow;
    --page-max-width: 800px;
    /* 
    --header-font: Roboto;
    --header-font-size: 1.5em;
    --nav-background-color: #000000;
    --main-and-card-background-color: #ffffff;
    --main-aside-text-color: #000;
    --hr-color: #a3a3a3;
    --header-height: 7.15em;
    --nav-height: 3em;
    
    --footer-height: 8.2em;
    --figure-height: 200px;
    --figure-width: 250px;
    --nav-font: Roboto;
    --highlight-text-color: #f3f437; */
}

header,
footer,
nav {
    background-color: var(--header-footer-background-color);
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 0px;
}

ul {
    padding-inline-start: 0px;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav a {
    display: block;
    color: var(--header-footer-nav-text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid var(--header-footer-nav-text-color);
}

.active {
    color: var(--active-nav-color);
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
    }

    nav ul li {
        flex: 1 1 100%;
    }
}